# Environnement virtuel
venv/

# Fichiers Python compilés
__pycache__/
*.py[cod]

# Notebooks temporaires
.ipynb_checkpoints/

# Données
data/raw/
data/processed/

# MLflow
mlruns/
.trash/

# Fichiers système
.DS_Store
Thumbs.db

# Secrets éventuels
.env

# Ressources NLTK (si téléchargées localement)
nltk_data/
*.nltk
