name: CI
on: [push]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ['3.11']
    steps:
      - uses: actions/checkout@v3

      - name: Installer Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name:  Purge totale des artefacts obsolètes
        run: |
          # Supprimer tous les fichiers .pyc
          Get-ChildItem -Recurse -Include *.pyc | Remove-Item -Force

          # Supprimer tous les dossiers __pycache__
          Get-ChildItem -Recurse -Directory -Filter "__pycache__" | Remove-Item -Recurse -Force

          # Supprimer les egg-info
          Get-ChildItem -Recurse -Include *.egg-info | Remove-Item -Recurse -Force

          # Supprimer dist et build
          if (Test-Path "dist") { Remove-Item -Recurse -Force "dist" }
          if (Test-Path "build") { Remove-Item -Recurse -Force "build" }

      

      - name:  Purge du cache pip
        run: pip cache purge

      - name:  Installer les dépendances
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name:  Vérifier et installer SpaCy model
        run: |
          $model_installed = python -m spacy validate | Select-String "en_core_web_sm"
          if (-not $model_installed) {
            python -m spacy download en_core_web_sm
          }
      - name:  Installer le projet en mode editable
        run: pip install -e .

      - name:  Lancer les tests
        run: pytest
